/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-layers-wp-block  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.wp-block-layers-wp-block__wrapper {
	display: grid;
  grid-template-columns: 1fr;
}
