/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-layer-wp-block  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.wp-block-layer-wp-block__layer {
 		grid-row-start: 1;
 		grid-column-start: 1;
}
